#!/usr/bin/env bash
export OS_AUTH_URL={{ os_auth_url }}
export OS_AUTH_TYPE=token
export OS_PROJECT_ID={{ os_project_id }}
export OS_TENANT_ID={{ os_project_id }}
export OS_IDENTITY_PROVIDER="recas-bari"
export OS_IDENTITY_API_VERSION=3
export OS_REGION_NAME="RegionOne"
export OS_INTERFACE=public
export OS_TOKEN={{ os_token }}
